body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#search {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 20px;
    outline: none;
}

#searchBtn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

#searchBtn:hover {
    background-color: #45a049;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.movie {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    max-width: 300px;
}

.movie h2 {
    margin-top: 0;
    font-size: 1.2rem;
}

.movie p {
    margin-top: 10px;
}

.movie img {
    width: 100%;
    border-radius: 5px;
}
